<!-- <%- include("./partials/header") %>

<link rel= "stylesheet" href= "../styles/posts.css">
<form action="/posts" method="post">
  <div class="container posts">
    <h1>Charity Verification</h1>
    <label for="name"><b>Name</b></label>
    <input type="text" name="name" id="name" required><br />
    <label for="text"><b>Text</b></label>
    <input type="text" name="text" id="text" required><br />
  <button type="submit" class="registerbtn btn" ><h3>Post</h3></button></div>
</form>

<%- include("./partials/footer") %> -->



