
<%- include("partials/header") -%>
<link rel = "stylesheet" href = "styles/compose.css">

    
    <form action="/compose" method="post">
      
      <div class="container">
        <h1>Compose</h1>       
        <label>Name</label>
        <input type="name" name="name">
        <label>Details</label>
        <textarea id= "text" name="text" rows="5" cols="60"></textarea>
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
      </div>
      
    </form>

<%- include("partials/footer"); -%>
